<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>50316812921-n1ksji3msqc2q3g3qanvimmh8m68gkdj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50316812921-n1ksji3msqc2q3g3qanvimmh8m68gkdj</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Lx8GMCLfC1k96hK4PA4Gsf16rBFdJMs</string>
	<key>GCM_SENDER_ID</key>
	<string>50316812921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TravelBros</string>
	<key>PROJECT_ID</key>
	<string>travelbros-c0f5f</string>
	<key>STORAGE_BUCKET</key>
	<string>travelbros-c0f5f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50316812921:ios:3b2d13cd20e01290</string>
	<key>DATABASE_URL</key>
	<string>https://travelbros-c0f5f.firebaseio.com</string>
</dict>
</plist>